<ion-view class="schedule-view">
  <ion-header-bar class="bar-dark">
    <div class="buttons">
      <button class="button icon-left ion-chevron-left button-clear"  ng-click="vm.goBackToHome()"></button>
    </div>
    <h1 class="title"><img src="img/headerIcon.png" class="header-icon"></h1>
  </ion-header-bar>
  
  <ion-content>
    <div class="events-list">

      <ion-list>
        <ion-item class="item-thumbnail-left" ng-repeat="artist in vm.artists">
          <img actual-src="{{artist.artist_image}}" src="img/defaultimage.fw.png" class="full-image" alt="" ng-click="vm.showProfileDetails(artist.id)">
          <ul class="inline" ng-click="vm.showProfileDetails(artist.id)">
            <li><h2>{{artist.artist_name}}</h2></li>
            <li class="light-white">{{artist.event_day}}</li>
            <li class="light-white">{{artist.performer_start_time | convertTime}}</li>
            <li class="light-white">{{artist.venue_name}}</li>
          </ul>
          <div class="pull-right">
            <img ng-src="{{artist.favorite ? 'img/star_active.png' : 'img/star_inactive.png'}}" ng-click="vm.setFavorite(artist)" width="75px" />
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
