<ion-modal-view class="dark-background">
  <ion-content>
    <div class="get-the-most-header">
      <h4 class="text-center">GET THE MOST OUT OF</h4>
      <h4 class="text-center">THE III POINTS APP</h4>
    </div>
    <div class="padding margin-t15">
      <h1 class="page-title">CONNECT</h1>
      <p class="settings-pages-center-text">Connect to receive exclusive offers from III Points, our sponsors, partners and vendors.</p>
      <div class="list settings-toggles-list">
        <ion-item ng-click="showLogin()" class="item-link">
          Connect your email
        </ion-item>

        <button class="button button-block app-button" ng-click="closeConnectModal()">skip</button>
      </div>
    </div>
    
  </ion-content>
</ion-modal-view>
