<ion-view class="external-view">
	<ion-header-bar class="bar-dark">
    <div class="buttons">
      <button class="button icon-left ion-chevron-left button-clear"  ng-click="vm.goBackToHome()"></button>
    </div>
    <h1 class="title"><img src="img/headerIcon.png" class="header-icon"></h1>
  </ion-header-bar>
  <ion-content class="iframe-wrapper" scroll="false">
    <iframe data-tap-disabled="true" ng-src="{{vm.trustSrc(vm.iframeURL)}}"></iframe>
  </ion-content>
</ion-view>