<ion-view class="partners-view">
    <ion-content>
      <div class="events-list" ng-switch="categories">
        <ion-list>
          <ion-item ng-click="vm.openWeb('https://www.showclix.com/event/james-blake-1800-dinosaur/pre-sale')">
            <img src="img/partners/iiibasel16-adidas1.png" class="full-image" alt="">
          </ion-item>
          <ion-item ng-click="vm.openWeb('https://www.residentadvisor.net/event.aspx?887691')">
            <img src="img/partners/iiibasel16-becks.png" class="full-image" alt="">
          </ion-item>
          <ion-item ng-click="vm.openWeb('https://www.residentadvisor.net/event.aspx?887691')">
            <img src="img/partners/iiibasel16-afterlife.png" class="full-image" alt="">
          </ion-item>
          <ion-item ng-click="vm.openWeb('https://www.residentadvisor.net/event.aspx?887691')">
            <img src="img/partners/iiibasel16-diynamic.png" class="full-image" alt="">
          </ion-item>
          <ion-item ng-click="vm.openWeb('https://www.residentadvisor.net/event.aspx?887691')">
            <img src="img/partners/iiibasel16-l&d.png" class="full-image" alt="">
          </ion-item>
          <ion-item ng-click="vm.openWeb('https://www.residentadvisor.net/event.aspx?887691')">
            <img src="img/partners/iiibasel16-lmr.png" class="full-image" alt="">
          </ion-item>
          <ion-item ng-click="vm.openWeb('https://www.residentadvisor.net/event.aspx?887691')">
            <img src="img/partners/iiibasel16-plot.png" class="full-image" alt="">
          </ion-item>
          <ion-item ng-click="vm.openWeb('https://www.residentadvisor.net/event.aspx?887691')">
            <img src="img/partners/iiibasel16-ra.png" class="full-image" alt="">
          </ion-item>
          <ion-item ng-click="vm.openWeb('https://www.residentadvisor.net/event.aspx?887691')">
            <img src="img/partners/iiibasel16-s&t.png" class="full-image" alt="">
          </ion-item>
          <ion-item ng-click="vm.openWeb('https://www.residentadvisor.net/event.aspx?887691')">
            <img src="img/partners/iiibasel16-zacapa.png" class="full-image" alt="">
          </ion-item>
        </ion-list>
      </div>
  
    </ion-content>
  </ion-view>