<ion-view class="home-view">
<!--   <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-gear-a" ng-click="vm.goSettingsPage()">
    </button>
  </ion-nav-buttons> -->
  <ion-content>
    <div class="home-content">

      <!-- <div class="logo">
        <img src="img/logo.png" alt="">
      </div> -->

      <div class="countdown-container">
        <count-down></count-down>
      </div>

      <div class="padding main-buttons">
        <p class="center">
          <button class="button button-clear button-light uppercase" ng-click="vm.goSchedulePage()">
            Schedule
          </button>
        </p>
        <p class="center">
          <button class="button button-clear button-light uppercase" ng-click="vm.goMapPage()">
            Map
          </button>
        </p>
        <p class="center">
          <button class="button button-clear button-light uppercase" ng-click="vm.onShowArtistPage()">
            Artists
          </button>
        </p>
        <p class="center">
          <button class="button button-clear button-light uppercase" ng-click="vm.onBuyTix()">
            Buy Tickets
          </button>
        </p>
        <p class="center">
          <button class="button button-clear button-light uppercase" ng-click="vm.onShowSponsorsPage()">
            Sponsors
          </button>
        </p>
        <p class="center">
          <!-- <button class="button button-clear button-light uppercase" ng-click="vm.openWebsite('http://iiipoints.com/faq.html')"> -->
            <button class="button button-clear button-light uppercase" ng-click="vm.onShowFaqPage()">                              
            FAQ
          </button>
        </p>
        <p class="center">
          <button class="button button-clear button-light uppercase" ng-click="vm.openWebsite('http://iiipoints.com/')">
            IIIPoints.com
          </button>
        </p>
      </div>

      <div class="padding"></div>

    </div>
  </ion-content>
</ion-view>
