<ion-view class="launch-view">
  <ion-content scroll="false">
    <div class="video-container">
      <video autoplay class="video-wrapper" player-listener playsinline webkit-playsinline>
        <source src="videos/Gorillaz.webm" type="video/webm">
        <source src="videos/Gorillaz.mp4" type="video/mp4">
      </video>
    </div>
  </ion-content>
</ion-view>