<ion-view class="lineup-view">
  <ion-content>
    <ion-list>
      <a class="item item-brand" ng-repeat="band in vm.bands" ng-href="#/app/lineup/{{band._id}}">
        <img actual-src="{{band.image_link}}" ng-src="img/hero.jpg" class="band-image">
        <h2>{{band.name}}</h2>
      </a>
    </ion-list>
  </ion-content>
</ion-view>