<ion-modal-view class="dark-background">
  <ion-content>
    <div class="get-the-most-header">
      <h4 class="text-center">GET THE MOST OUT OF</h4>
      <h4 class="text-center">THE III POINTS APP</h4>
    </div>
    <div class="padding margin-t15">
      <h1 class="page-title">LOCATIONS</h1>
      <p class="settings-pages-center-text">Use this feature to get detailed information about activations and points of interest based on your location during the Festival. this feature uses bluetooth</p>
      <div class="list settings-toggles-list">
        <ion-toggle ng-model="userLocationEnabled" toggle-class="toggle-positive">Use my Location</ion-toggle>
        <ion-toggle ng-model="bluetoothEnabled" toggle-class="toggle-positive">Enable Bluetooth</ion-toggle>
        <button class="button button-block app-button" ng-click="closeLocationModal()">continue</button>
      </div>
    </div>
    
  </ion-content>
</ion-modal-view>
