<ion-view class="login-view" hide-back-button="false">
  <ion-content>
    <form name="loginForm" ng-submit="vm.doLogin(loginForm)">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" ng-model="vm.loginData.username" placeholder="Username" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" ng-model="vm.loginData.password" placeholder="Password" required>
        </label>
        <div class="padding">
          <button class="button button-block button-positive" ng-disabled="loginForm.$invalid" type="submit">Log in</button>
          <a class="button button-block button-positive" href="#/app/register">Create Account</a>
        </div>  
      </div>
    </form>
  </ion-content>
</ion-view>
