<ion-view class="map-view">
  <ion-content>
    <!--<div id="map" data-tap-disabled="true"></div>-->
    <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false">
      <img ng-src="{{imgUrl}}">
    </ion-scroll>
  </ion-content>
</ion-view>
