<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>  
      <ion-nav-buttons side="left">
        <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> -->
        </button>
      </ion-nav-buttons>
      <ion-nav-title>
        <img src="img/headerIcon.png" class="header-icon" ng-click="vm.goHome()">
      </ion-nav-title>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark no-background">
    </ion-header-bar>
    <ion-content class="side-menu">
      <ion-list>
        <ion-item class="item-icon-right" menu-close href="#/app/home">
          Buy Tickets
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right" menu-close href="#/app/schedule">
          Schedule
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right" menu-close href="#/app/map">
          Map
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right" menu-close href="#/app/artists">
          Artists
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <ion-item class="item-icon-right" menu-close href="#/app/sponsors">
          Sponsors
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right" menu-close ng-click="vm.openWebsite('http://iiipoints.com/')">
          IIIPoints.com
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right" menu-close ng-click="vm.openWebsite('http://iiipoints.com/faq.html')">
          FAQ
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right" menu-close ng-click="vm.openWebsite('http://buzzplay.com/IIIpoints/privacypolicy.pdf')">
          Privacy Policy
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
