<ion-view>
  <ion-content scroll="false">
    <div class="padding media-buttons">
      <button class="button button-clear" ng-click="vm.launch(vm.instegramUrl)">
        <img src="img/button-instagram.png" class="full-image" alt="">
      </button>

      <button class="button button-clear" ng-click="vm.launch(vm.twitterUrl)">
        <img src="img/button-twitter.png" class="full-image" alt="">
      </button>

      <button class="button button-clear" ng-click="vm.launch(vm.facebookUrl)">
        <img src="img/button-facebook.png" class="full-image" alt="">
      </button>
    </div>

  </ion-content>
</ion-view>
