<ion-modal-view class="dark-background">
  <ion-content>
    <div class="get-the-most-header">
      <h4 class="text-center">GET THE MOST OUT OF</h4>
      <h4 class="text-center">THE III POINTS APP</h4>
    </div>
    <div class="padding margin-t15">
      <h1 class="page-title">NOTIFICATIONS</h1>
      <p class="settings-pages-center-text">This feature will automatically send you notifications about the festival lineup, news, updates, schedule changes, special offers and more</p>
      <div class="list settings-toggles-list">
        <ion-toggle ng-model="allowNotifications" toggle-class="toggle-positive">Allow notifications</ion-toggle>
        <button class="button button-block app-button" ng-click="closeNotificationsModal()">continue</button>
      </div>
    </div>
    
  </ion-content>
</ion-modal-view>
