<ion-view class="home-view">
   <ion-content>
      <h1  style="font-family: Amatic SC; font-size:80px; font-weight:bolder; margin-top:10px; text-align:center;">FAQ</h1>
      <center> <img src="img/wavylineblue.png" width="200px"></center>

      <ion-list no-lines>
      <div ng-repeat="group in groups" class="custom-item">
        <ion-item 
                  style="border:none;color:white;font-size:15px"
                  class="custom-item"
                  ng-click="toggleGroup(group)"
                  ng-class="{active: isGroupShown(group)}">
                  {{group.name}}
          &nbsp;
          <div style="float:right">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>             
          </div>
          
        </ion-item>

        <ion-item 
                  style="border:none;color:white"
                  class="custom-item"
                  ng-repeat="item in group.items"
                  ng-show="isGroupShown(group)">
        <img src="{{item}}">

        </ion-item>
      </div>


      <div class="row">

          <div class="col">
              <button class="button button-clear button-light uppercase" ng-click="vm.launch('https://www.snapchat.com/add/iiipoints')">
                  <img src="img/pinterest_button.png" height="30px">  
               </button>                              
          </div>

          <div class="col">
              <button class="button button-clear button-light uppercase" ng-click="vm.launch('https://twitter.com/iiipoints')">
                  <img src="img/instagram_button.png" height="30px">  
               </button>   
          </div>

          <div class="col">
              <button class="button button-clear button-light uppercase" ng-click="vm.launch('https://www.instagram.com/iiipoints')">
                  <img src="img/twitter_button.png" height="30px">  
               </button>  
          </div>

          <div class="col">
              <button class="button button-clear button-light uppercase" ng-click="vm.launch('https://www.facebook.com/iiipoints')">
                  <img src="img/facebook_button.png" height="30px">  
               </button>  
          </div>

          <div class="col">
              <button class="button button-clear button-light uppercase" ng-click="vm.launch('https://soundcloud.com/iiipoints')">
                  <img src="img/social_button.png" height="30px">  
               </button>  
          </div>

      </div>

    </ion-list>
  </ion-content>
</ion-view> 


