<ion-view class="lineup-view">
  <ion-header-bar class="bar-dark">
    <div class="buttons">
      <button class="button icon-left ion-chevron-left button-clear"  ng-click="vm.goBack()"></button>
    </div>
    <h1 class="title"><img src="img/headerIcon.png" class="header-icon"></h1>
  </ion-header-bar>

  <ion-content>
    <div class="band-detail-header">
      <img actual-src="{{vm.profile.artist_image}}" ng-src="img/hero.jpg" class="band-image" alt="">
      <h2>{{vm.profile.artist_name}}</h2>
    </div>
    <div class="band-detail-content">
        <div class="row">

               <div class="col inline">
                  <h4>{{vm.profile.event_day}}</h4>                  
                 <h4>{{vm.profile.performer_start_time | formatUsTime}}</h4>
                 <h5>{{vm.profile.venue_name}}</h5>
               </div>
               <div class="pull-right">
                  <img  ng-src="{{vm.profile.favorite ? 'img/star_active.png' : 'img/star_inactive.png'}}" height="75px" alt="" ng-click="vm.setFavorite()">
               </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <button class="button button-clear button-light uppercase" ng-click="vm.launch(vm.profile.spotify)">
                    <img src="img/pinterest_button.png" height="45px">  
                 </button>                              
            </div>
            <div class="col">                
            </div>
            <div class="col">
                <button class="button button-clear button-light uppercase" ng-click="vm.launch(vm.profile.instagram)">
                    <img src="img/instagram_button.png" height="45px">  
                 </button>   
            </div>
            <div class="col">                
            </div>
            <div class="col">
                <button class="button button-clear button-light uppercase" ng-click="vm.launch(vm.profile.twitter)">
                    <img src="img/twitter_button.png" height="45px">  
                 </button>  
            </div>
            <div class="col">                
            </div>
            <div class="col">
                <button class="button button-clear button-light uppercase" ng-click="vm.launch(vm.profile.facebook)">
                    <img src="img/facebook_button.png" height="45px">  
                 </button>  
            </div>
            <div class="col">                
            </div>
            <div class="col">
                <button class="button button-clear button-light uppercase" ng-click="vm.launch(vm.profile.soundcloud)">
                    <img src="img/social_button.png" height="45px">  
                 </button>  
            </div>
            <div class="col">
          <div class="row" height="20px">
              
          </div>   
        </div>
    </div>

      <p class="text-wrap">{{vm.profile.bio}}</p>


      <!-- <div class="share-buttons">
        <button class="button button-clear" ng-click="vm.launch(vm.profile.fb_link)" ng-if="vm.profile.fb_link" ng-hide="vm.profile.fb_link == 'N/A'">
          <img src="img/facebookbutton.png" height="45px"></button>
        <button class="button button-clear" ng-click="vm.launch(vm.profile.tw_link)" ng-if="vm.profile.tw_link" ng-hide="vm.profile.tw_link == 'N/A'">
          <img src="img/twitterbutton.png" height="45px"></button>
        <button class="button button-clear" ng-click="vm.launch(vm.profile.insta_link)" ng-if="vm.profile.insta_link" ng-hide="vm.profile.insta_link == 'N/A'">
          <img src="img/instegrambutton.png" height="45px"></button>
      </div> -->
      
    </div>
  </ion-content>
</ion-view>