<ion-view class="login-view">
  <ion-content>
    <form name="registerForm" ng-submit="vm.doRegister(registerForm)">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="vm.userData.firstName" placeholder="First Name" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="vm.userData.lastName" placeholder="Last Name" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" ng-model="vm.userData.username" placeholder="Username" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" ng-model="vm.userData.password" placeholder="Password" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-disabled="registerForm.$invalid"  type="submit">Create Account</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
