<ion-tabs class="tabs-dark" >

  <ion-tab title="All Artists" href="#/schedule/all">
    <ion-nav-view name="all-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="My Schedule" href="#/schedule/custom">
    <ion-nav-view name="custom-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>