<ion-view class="schedule-view" view-title="All Artists">
  <!-- <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-gear-a" ng-click="vm.goSettingsPage()">
    </button>
  </ion-nav-buttons> -->
  <ion-header-bar class="bar-dark">
    <div class="buttons">
      <button class="button icon-left ion-chevron-left button-clear"  ng-click="vm.goBackToHome()"></button>
    </div>
    <h1 class="title"><img src="img/headerIcon.png" class="header-icon"></h1>
  </ion-header-bar>

  <ion-header-bar class="bar-subheader no-border">
    <ion-segment ng-model="categories" full="true" dark class="days-segment">
      <ion-segment-button value="FRIDAY">
        FRI
      </ion-segment-button>
      <ion-segment-button value="SATURDAY">
        SAT
      </ion-segment-button>
      <ion-segment-button value="SUNDAY">
        SUN
      </ion-segment-button>
    </ion-segment>
  </ion-header-bar>

  <ion-content>
    <div class="events-list">
      <!-- <ion-segment ng-model="vm.sortBy" light class="sort-by-segment">
        <ion-segment-button value="time">By Time</ion-segment-button>
        <ion-segment-button value="stage">By Stage</ion-segment-button>
      </ion-segment> -->

      <ion-list>
        <ion-item class="item-thumbnail-left" ng-repeat="artist in vm.artists[categories]">
          <img actual-src="{{artist.artist_image}}" src="img/defaultimage.fw.png" class="full-image" alt="" ng-click="vm.showProfileDetails(artist.id)">
          <ul class="inline" ng-click="vm.showProfileDetails(artist.id)">
            <li><h2>{{artist.artist_name}}</h2></li>
            <p>{{artist.performer_start_time | formatUsTime }}</p>
            <p>{{artist.venue_name}}</p>
          </ul>
          <div class="pull-right">
            <img ng-src="{{artist.favorite ? 'img/star_active.png' : 'img/star_inactive.png'}}" ng-click="vm.setFavorite(artist)" width="75px" />
          </div>
        </ion-item>
      </ion-list>

    </div>
  </ion-content>
</ion-view>
