<ion-view>
  <ion-content scroll="false">
    <ion-list class="no-lines settings-options-list">
      <ion-item ng-click="vm.showMessageCenter()">
        Messages
      </ion-item>
      <ion-item ng-click="vm.showNotificationSettings()">
        Notifications
      </ion-item>
      <ion-item ng-click="vm.showLocationsSettings()">
        Location
      </ion-item>
      <ion-item ng-click="vm.showLogin()">
        E-mail Settings
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
