<ion-view class="partners-view">
  <ion-content>
    <div class="events-list">
      <ion-list class="no-lines">
        <ion-item ng-repeat="sponsor in vm.sponsors" ng-click="vm.openWebsite(sponsor.redirect_url)" >
          <img ng-src="http://iiipoints.buzzplay.com/{{sponsor.image}}" class="full-image" alt="">
        </ion-item>
      </ion-list>
    </div>

  </ion-content>
</ion-view>