.countdown-container {
    width: 100%;
}
count-down {
    max-width: 100%;
    margin-left: 15%;
    color: white;
    display: block;
}
#demo0,#demo1,#demo2,#demo3,#demo4,#demo5,#demo6,#demo7,#demo8,#demo9,#demo10,#demo11,#demo12,#demo13,#demo14,#demo15,#demo16,#demo17,#demo18,#demo19,#demo20,#demo21,#demo22,#demos0,#demos1,#demos2,#demos3,#demos4,#demos5,#demos6,#demos7,#demos8,#demos9,#demos10,#demos11,#demos12,#demos13,#demos14,#demos15,#demos16,#demos17,#demos18,#demos19,#demos20,#demosi0,#demosi1,#demosi2,#demosi3,#demosi4,#demosi5,#demosi6,#demosi7,#demosi8,#demosi9,#demosi10,#demosi11,#demosi12,#demosi13,#demosi14,#demosi15,#demosi16,#demosi17,#demosi18,#demosi19,#demosi20 {    
    display: block;
    float:left;
    font-size: 20px;
    font-family:'Prime';
    position: relative;
    -webkit-animation-name: days; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: linear; /* Safari 4.0 - 8.0 */
    animation-name: days;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-direction: linear; 
    height:100%;   
    margin-right:10px;
}
 #demo23,#demo24,#demo25,#demo26,#demo27,#demo28,#demo29,#demo30,#demo31,#demo32,#demo33,#demo34,#demo35,#demo36,#demo37,#demo38,#demo39,#demo40,#demo41,#demo42,#demo43,#demo44, #demo45,#demos23,#demos24,#demos25,#demos26,#demos27,#demos28,#demos29,#demos30,#demos31,#demos32,#demos33,#demos34,#demos35,#demos36,#demos37,#demos38,#demos39,#demos40,#demos41,#demos42,#demos43,#demos44,#demos45,#demosi23,#demosi24,#demosi25,#demosi26,#demosi27,#demosi28,#demosi29,#demosi30,#demosi31,#demosi32,#demosi33,#demosi34,#demosi35,#demosi36,#demosi37,#demosi38,#demosi39,#demosi40,#demosi41,#demosi42,#demosi43,#demosi44, #demosi45,#demosia23,#demosia24,#demosia25,#demosia26,#demosia27,#demosia28,#demosia29,#demosia30,#demosia31,#demosia32,#demosia33,#demosia34,#demosia35,#demosia36,#demosia37,#demosia38,#demosia39,#demosia40,#demosia41,#demosia42,#demosia43,#demosia44, #demosia45 {    
    display: block;
    float:left;
    font-size: 18px;
    font-family:'Prime';
    position: relative;
    -webkit-animation-name: hours; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: linear; /* Safari 4.0 - 8.0 */
    animation-name: hours;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-direction: linear; 
    height:100%;   
    margin-right:10px;
    }
    
#demo46,#demo47,#demo48,#demo49,#demo50,#demo51,#demo52,#demo53,#demo54,#demo55,#demo56,#demo57,#demo58,#demo59,#demo60,#demo61,#demo62,#demo63,#demo64,#demo65,#demo66,#demo67,#demo68,#demos46,#demos47,#demos48,#demos49,#demos50,#demos51,#demos52,#demos53,#demos54,#demos55,#demos56,#demos57,#demos58,#demos59,#demos60,#demos61,#demos62,#demos63,#demos64,#demos65,#demos66,#demos67,#demos68,#demosi46,#demosi47,#demosi48,#demosi49,#demosi50,#demosi51,#demosi52,#demosi53,#demosi54,#demosi55,#demosi56,#demosi57,#demosi58,#demosi59,#demosi60,#demosi61,#demosi62,#demosi63,#demosi64,#demosi65,#demosi66,#demosi67,#demosi68,#demosia46,#demosia47,#demosia48,#demosia49,#demosia50,#demosia51,#demosia52,#demosia53,#demosia54,#demosia55,#demosia56,#demosia57,#demosia58,#demosia59,#demosia60,#demosia61,#demosia62,#demosia63,#demosia64,#demosia65,#demosia66,#demosia67,#demosia68 {    
    display: block;
    float:left;
    font-size: 16px;
    font-family:'Prime';
    position: relative;
    -webkit-animation-name: minutes; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: linear; /* Safari 4.0 - 8.0 */
    animation-name: minutes;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-direction: linear; 
    height:100%;   
    margin-right:10px;
    }  
    
@-webkit-keyframes days {
   from {left: 100px;}
    to {left: -200px;}
}

/* Standard syntax */
@keyframes days {
    from {left: 100px;}
    to {left: -200px;}
} 
@-webkit-keyframes hours {
    from {left: -50px;}
    to {left: 100px;}
}

/* Standard syntax */
@keyframes hours {
    from {left: -50px;}
    to {left: 100px;}
}   
@-webkit-keyframes minutes {
   from {left: 100px;}
    to {left: -200px;}
}

/* Standard syntax */
@keyframes minutes {
   from {left: 100px;}
    to {left: -200px;}
} 

.flyer {
    height:1936px;

}

.flyer img {
    position: absolute;
    max-width: 80%;
    top: 10%;
    left: 10%;
}

.flyer img:empty {
    top: 7%;
    left: 12%;
    width:75%;
}

.tg  {
border-collapse:collapse;
border-spacing:0; 
margin-bottom:30px; 
margin-top:30px;
z-index:0;
}

.tg td{
font-family:'Prime Light', sans-serif;
font-size:14px;
overflow:hidden;
word-break:normal;
}

.tg th{
font-family:'Prime Light',  sans-serif;
font-size:14px;
font-weight:normal;
overflow:hidden;
white-space:nowrap;
}

.tg .tg-2uhc{
color:#ffffff; 
text-align:left; 
font-size:18px;
line-height: 30px;
float:left;
border-right:20px solid #000;
z-index:1;
width:75px;
}

.tg .tg-2uha{
text-align:left; 
font-size:18px;
float:left;
border-left:7px solid #000;
z-index:1;
}

.tg .tg-698h{
    background-color: transparent;
    display: inline-flex;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    float:right;
    height:30px;
    
}

.tg .tg-698h {
    background-color: #000000;
    display: inline-flex;
    position: absolute;
    vertical-align: middle;
    white-space: nowrap;
    width: 47%;
    line-height: 30px;
}

tr {
margin-bottom:-10px;
}

.grid-table {
    max-width:100%;
    margin-left:15%;
}
#boxanimation {
    z-index:1;
}

#eye {

}

@-moz-keyframes play {
0% { transform:rotate(0deg) }
100% { transform:rotate(360deg) }
}