//////////////////////////////
// FONTS for BODY and ELEMENTS

body, .ionic-body {
  font-family: 'Museo Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Museo Sans', sans-serif;
  color: white;
}
.tab-item,
input, button, select, textarea {
  font-family: 'Museo Sans', sans-serif;
}

// Side menu
.side-menu {
  background-color: $dark;

  .item,
  .item-complex {
    background-color: $dark;
    border-color: transparent;
    color: #E46074;
    font-size: 1.4em;
    text-transform: uppercase;

    .item-content {
      background-color: transparent;
      color: #E46074;
      text-transform: uppercase;
    }
  }
}

// Header bar
// .bar.bar-dark {
//   background-image: url(../img/header.png);
//   background-size: 100% 100%;
// }

// .platform-ios {
//   .bar.bar-dark {
//     background-image: url(../img/header-ios.png);
//     background-size: 100% 100%;
//   }
// }

.header-icon {
  height: 35px;
  margin-top: 5px;
}

.pane, .view {
  background-color: $dark;
}

.no-background {
  background-image: none !important;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}
.media-buttons {
  @extend .content-center;

  .button {
    margin: 0 auto;
    max-width: 80px;
    min-height: 80px;
    display: block;
    flex: 1;
  }
}

.dark-background {
  background-color: #000;
  color: white;
}

input[type="text"], input[type="password"] {
  @include placeholder(#959595);
}

.backdrop {
  background-color: transparent;
}

#map {
  width: 100%;
  height: 100%;
}

.map-view {
  .scroll {
    height: 100%;
  }
}

h3.popup-title {
  color: #000;
}

.padding-20-vertical {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-20-horizontal {
  padding: 0 20px;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.no-round {
  border-radius: 0;
}

.row.no-padding {
  padding: 0;

  .col {
    padding: 0;
  }
}

.max-80-image {
  width: 80%;
}

.video-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.video-wrapper {
  width: 100%;
  display: block;
  margin: auto;
}

.center {
  text-align: center;
}

/* subheader */
.bar-subheader {
  height: 50px;
}

.has-subheader {
  top: 94px;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-subheader {
  top: 114px;
}

ion-list.no-lines {
  ion-item {
    border: 0;
  }
}

.light-white {
  color: #999;
}

.zoom-pane {
  width: 100%;
  height: 100%;

  .scroll {
    min-height: 100%;
    /* Vertical align */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  img {
    width: 100%;
    vertical-align: middle;
  }
}

.inline {
  display: inline-block;
}

.pull-right {
  float: right;
}