//Fonts

/* hebrew */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(../fonts/AmaticSC-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/exljbris_-_museosans-500-webfont.woff2') format('woff2'),
         url('../fonts/exljbris_-_museosans-500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Prime Light';
    src: url('../fonts/prime_light-webfont.woff2') format('woff2'),
         url('../fonts/prime_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Prime';
    src: url('../fonts/prime_regular-webfont.woff2') format('woff2'),
         url('../fonts/prime_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
