.icon-landscape {
  &:before {
    content: "";
    background-image: url(../img/landscape.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px !important;
    height: 32px;
    display: block;
  }
}