/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$stable:                          #f8f8f8 !default;
$dark:                            #000 !default;
$light:                           #fff !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
// Import plugin styling
@import "www/lib/plug.ionic-segment/sass/plug.ionic-segment.scss";

@import "fonts";
@import "custom";
@import "icons";

// Import pages
@import "pages/schedule";
@import "pages/settings";
@import "pages/login";
@import "pages/partners";
@import "pages/lineup";
@import "pages/home";

@import "countdown";

