.home-view {
	background: url(../img/bg.png) no-repeat;
	// background-repeat: no-repeat;
	// background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 40%) repeat scroll 0 0;
  .home-content {
  	// background: url(../img/bg_pattern.png) repeat;
 	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	// background-image: url(../img/bg.png);
	// background-repeat: no-repeat;

	.main-buttons {
		.button {
			font-family: "Amatic SC", sans-serif;
			font-size: 4.8rem;
			min-height: 80px;
		}
	}

	.logo {
		position: absolute;
		left: 15px;
		top: 24px;
		
		img {
			width: 33%;
		}
	}
  }

  .button.button-ticket {
		padding: 10px;
		border-radius: 0;
		text-transform: uppercase;
		position: fixed;
		right: 10px;
		top: 50%;
		background-color: rgb(228, 96, 116);
		color: white;
		font-size: 70%;
		line-height: 1.5;
		width: 80px;

		.now {
			letter-spacing: 0.2em;
		    margin-top: -3px;
		    font-size: 1.8em;
		    cursor: pointer;
    		display: block;
    		// line-height: 2.5em;
		}
	}
}