.lineup-view {
  color: white;

  .item-brand {
    border: none;
    padding: 0;
    margin: 0;
    max-height: 220px;
    background-color: transparent;
    position: relative;
    overflow: hidden;

    h2 {
      font-family: 'ClanOTBlack';
      font-size: 6.5vw;
      font-weight: 900;
      position: absolute;
      bottom: 20px;
      left: 20px;
      margin: 0;
      text-shadow:#000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    }
  }

  .band-image {
    width: 100%;
  }

  .band-detail-header {
    position: relative;
    // max-height: 220px;
    overflow: hidden;

    h2 {
      font-size: 6.5vw;
      font-weight: 900;
      position: absolute;
      bottom: 20px;
      left: 20px;
      margin: 0;
      text-shadow:#000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    }
  }

  .band-detail-content {
    padding: 16px;

    h4, h5, h6 {
      margin-top: 0;
    }

    .row, .col {
      padding: 0;
    }
  }

  .share-buttons {
    margin: 20px 0;
  }
}