.login-view {
  .item {
    border-color: transparent;
    background-color: transparent;
  }

  .input-label {
    color: white;
  }

  .item-input input {
    color: white;
    @include placeholder(#959595);
  }
}
