.schedule-view {
  h3 {
    margin-top: 16px;
  }

  .events-list {
    

    ion-item {
      background-color: transparent;
      border-color: #444;
    }

    .item li, .item p {
      line-height: 1.5;
    }
    
    .item p {
      color: white;
    }
  }

  .bar-subheader {
    background: transparent;
    padding: 0;
  }
}

ul#ion-segment
{
  flex: 1;
  text-align: center;
  
  &.days-segment {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    font-family: "Amatic SC", sans-serif;
    color: white;
    height: auto;
    border-bottom: 5px solid #444;
    
    li {
      line-height: 40px;
      color: white;
      font-size: 8vw;
      height: auto;
      min-height: 45px;
      border-bottom-width: 0;
      border-top-width: 0;
      display: inline-block;
      padding: 5px 30px 15px;
    }

    &[dark] li {
      // border-color: #ddd;
      &.active {
        text-decoration: underline;
      }

      &:first-of-type,
      &:last-of-type {
        border-radius: 0;
      }
    }

    .landscape-icon {
      margin-top: 2.75vw;
      height: 7vw;
    }
  }

  &.sort-by-segment {
    margin: 12px 0;
    // font-family: "Amatic SC", sans-serif;
    color: white;

    &[light] li {
      // border-color: #ddd;
      &.active {
        color: #000;
        // text-decoration: underline;
      }
    }
  }
}

.tabs {
  .tab-item {
    .tab-title {
      font-family: "Amatic SC", sans-serif;
      font-size: 20px;

    }
  }

  .tab-item-active {
    .tab-title {
      border-bottom: 3px solid white;
    }
  }
}