.settings-options-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  
  ion-item {
    height: 16%;
    background-color: transparent;
    border: none;
    width: 100%;
    color: whitesmoke;
    font-family: ClanOTBook;
    text-align: center;
    line-height: 60px;
    font-size: 7vw;

    &.item.activated {
      background-color: transparent;
      color: #999;
    }
  }

  .list {
    width: 100%;
    height: 100%;
    padding: 50px 10px;
  }
}

.get-the-most-header {
  margin-top: 10%;
  h4 {
    margin: 0;
  }
}

.page-title {
  font-family: ClanOTBook;
  font-size: 36px;
  color: whitesmoke;
  text-align: center;
  width: 100%;
}

.margin-t15 {
  margin-top: 15px;
}

.settings-pages-center-text {
  font-family: ClanOTBook;
  font-size: 18px;
  color: lightgrey;
  text-align: center;
  width: 96%;
  margin: 2%;
}

.settings-toggles-list {
  margin-top: 10%;
  padding-left: 15px;
  padding-right: 15px;

  .item.item-toggle {
    height: 50px;
    background-color: transparent;
    border: none;
    color: lightgrey;
    font-family: ClanOTBook;
    font-size: 20px;
    text-decoration: underline;
  }

  .app-button {
    margin-top: 15%;
  }

  .item-link {
    color: lightgrey;
    font-family: ClanOTBook;
    font-size: 5.5vw;
    text-decoration: underline;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
  }
}
