body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
  }
  
  /* CORE */
  .item-expand {
    position: relative;
    width: 100%;
    max-height: 60px;
    transition: max-height 0.1s ease-out;
    overflow: hidden;
  }
  
  .item-expand.inactive:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 15px;
    width: 100%;
    display: block;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgba(255, 255, 255, 0)),
      color-stop(1, rgba(255, 255, 255, 1))
    );
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }
  
  .item-expand.active {
    max-height: 200px;
    transition: max-height 0.3s ease-out;
  }
  
  
  /* DEMO */
  .expand-item {
    color: red;
    margin-top: 10px;
  }
  
  .expand-item i {
    margin-right: 10px;
  }

  .faq-content {
    background: url(../img/bg_pattern.png) ;
    border-style: none;
  }
  .custom-item {
    background-color: transparent !important;
    border-style: none;
    padding-left: 5px;
    padding-right: 15px;
  }

  .zigzag-line {
    background: url(../img/wavylineblue.png) ;    
  }

